<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <button>Homepage</button>
            <button>Dashboard</button>
            <button>Log Out</button>
        </nav>
    </header>
    <main>
        <h1>Title of the Blog</h1>
        <p>Contents of Blog</p><br>
        <p>Creater of Blog</p>
        <p>Date Created</p>
        <ul>
            <li>comments</li>
            <li>comments</li>
            <li>comments</li>
        </ul>
    </main>
</body>
</html>