<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog Spot</title>
</head>
<body>
    <header>
        <h1>User's Profile!</h1>
        <nav>
            <button>Homepage</button>
            <button>Log Out</button>
        </nav>
    </header>

    <main>
        <div class="dashboard-blog-card">
            <h3>Blog Title</h3>
            <p>Blog Contents</p><br>
            <p>Date Created</p>
            <ul>
                <li>comments</li>
                <li>comments</li>
                <li>comments</li>
            </ul>
        </div>
    </main>

    <footer>
        <p>Thank you for visiting!</p>
    </footer>
</body>
</html>