<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog!</title>
    <link rel="stylesheet" href="../../public/css/jass.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <h1> Welcome to our Tech Blog! </h1>
        <nav>
            <!-- this is the nav bar -->
            <button>Dashboard</button>
            <button>Login</button>
            <button>Sign In</button>
        </nav>
    </header>

    <main>
    <section>
        <h2>Take a peek at some blogs!</h2>
        <!-- This is where the blog posts will go -->
        <div class="home-blog-card">
            <p>Title of blog</p><br>
            <p>Blog's Creater</p>
            <p>Date Created</p>
        </div>
        <div class="home-blog-card">
            <p>Title of blog</p><br>
            <p>Blog's Creater</p>
            <p>Date Created</p>
        </div>
    </section>
    </main>

    <footer>
        
    </footer>

</body>
</html>