<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog!</title>
    <link rel="stylesheet" href="../../public/css/jass.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <nav>
        <a class="nav-button" href="/home">Home</a>
        <a class="nav-button" href="/dash">Dashboard</a>
        {{#if logged_in}}
        <a class="nav-button" id="logout">Logout</a>
        {{else}}
        <a class="nav-button" href="/login">Login</a>
        {{/if}}
    </nav>

    <main>
        {{{body}}}
    </main>

    {{#if logged_in}} 
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>