<h2> Welcome, {{user.username}}!</h2>

<div class="blog-list">
    {{#each blogs as |blog|}}
        <div class="blog">
      
            <h3>{{blog.post_title}}</h3>
            <p>{{blog.content}}</p>
        </div>
        <p>Created by {{blog.creater_name}}</p>
    {{/each}}
</div>