body {
    color: tomato;
    background-color: bisque;
}

nav {
    background-color: darkkhaki;
    color: tomato;
    border-radius: 25px;
    border: 5px;
    width: 30%;
    height: 25px;
}

main {
    background-color: plum;
    color: powderblue;
}

.nav-button {
    font-size: 20px;
}

p {
    font-size: 20px;
}

.blog-list {
    border-radius: 25px;
}

.blog {
    border: 3px;
}